<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWhY4EfBL3_UU0pjI8fdOuAOa-E7HW0PM</string>
	<key>GCM_SENDER_ID</key>
	<string>650768459321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapp.LovelyGrandchildren</string>
	<key>PROJECT_ID</key>
	<string>lovelygrandchildren-980ed</string>
	<key>STORAGE_BUCKET</key>
	<string>lovelygrandchildren-980ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650768459321:ios:7418537291a21046460fe8</string>
</dict>
</plist>